{% extends 'base.html' %}

{% block title %}Add Habit{% endblock title %}

{% block navbar %}
<div class="navbar-end">
    <div class="navbar-item">
        <div class="buttons">
            <a href="{% url 'auth_logout' %}" class="button">Log out</a>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
<h1>Add a Habit</h1>
<form action="{% url 'add_habit' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit">Add</button>
</form>
{% endblock content %}
