{% extends 'base.html' %}

{% load static %}

{% block javascript %}
<script src="{% static 'js/habit_details_indicator.js' %}" defer></script>
{% endblock javascript %}

{% block title %}{{ habit.name }}{% endblock title %}

{% block navbar %}
<div class="navbar-start">
    <a href="{% url 'add_habit' %}" class="navbar-item">Add Habit</a>
</div>

<div class="navbar-end">
    <div class="navbar-item">
        <div class="buttons">
            <a href="{% url 'auth_logout' %}" class="button">Log out</a>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
<div class="container mx-1">
    <div class="content block">
        <h1>{{ habit.name }} Overview</h1>
        <h3 id="target" data-target="{{ habit.target }}">Target: {{ habit.target }} {{ habit.units }} per day</h3>
        <div class="content block">
            <a class="button" href="{% url 'edit_habit' pk=habit.pk %}">Edit Habit</a>
            <a class="button" href="{% url 'delete_habit' pk=habit.pk %}">Delete Habit</a>
        </div>
    </div>
    <div class="content block">
        <form action="{% url 'habit_details' pk=habit.pk %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Record Data</button>
        </form>
    </div>
    <table class="table">
        <tbody>
            {% for record in records %}
            <tr id="{{ record.date }}">
                <th>
                    {{ record.date }}
                </th>
                <td class="quantity">{{ record.quantity }}</td>
                <td class="icon"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}